.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        z-index: 1000;
    }
    .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        flex-grow: 1;
        align-items: center;
        .navbar-nav {
            flex-direction: row;
            margin-bottom: auto;
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 1199px) {
                display: none!important;
            }
            @include bp(md) {
                flex-direction: row;
                width: 100%;
            }
            >li {
                >a {
                    font-family: $font-heading;
                    text-transform: uppercase;
                    display: block;
                    position: relative;
                    color: $green;
                    font-size: 17px;
                    padding: 18px 15px;
                    text-transform: none;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                    @include bp(lg) {
                        font-size: 17px;
                    }
                    @include bp(md) {
                        font-size: 15px;
                    }
                    &:hover {
                        color: $green-light
                    }
                    &.active {
                        color: $green-light;
                    }
                    &.dropdown-toggle:after {
                        border: 0;
                    }
                }
                &:hover, &.active {
                    >a {
                        color: $green-light;
                    }
                }
            }
            li {
                height: 100%;
                align-items: center;
                &.dropdown {
                    position: relative;
                }
            }
        }
    }
}


/*==========Sub Menu==========*/

.mainmenu {
    .collapse ul ul {
        background-color: #fff;
        padding: 20px 0;
        z-index: 1000;
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
        a {
            font-family: $font-main;
            font-size: 16px!important;
            color: #a4a4a4;
            padding: 7px 20px!important;
            text-transform: capitalize;
            letter-spacing: 0px;
            display: block;
            position: relative;
            line-height: 1;
            text-align: left;
            float: none;
            margin: 0;
            /* &.active {
                color: $red;
            }*/
            &:hover {
                background-color: #fff;
                color: $green;
                -webkit-transform: translateX(.5em);
                -moz-transform: translateX(.5em);
                -ms-transform: translateX(.5em);
                -o-transform: translateX(.5em);
                transform: translateX(.5em);
            }
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e902";
            font-family: "icomoon";
            font-weight: 400;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        background-color: #fff;
        padding: 8px 0;
        border: 1px solid #fff;
        //overflow: hidden;
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 220px;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: -21px;
                left: 100%;
                min-width: 220px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 200px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

/******************************Mobile Menu**********************************/

.sliding-menu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sliding-menu {
    position: relative;
    overflow: hidden;
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        a {
            display: block;
            text-transform: uppercase;
            font-size: 13px;
            text-decoration: none;
            border: none;
            outline: none;
            color: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            border-bottom: 1px solid rgba(250, 250, 250, 0.2);
            &:hover {
                color: #444444;
                background-color: rgba(0, 0, 0, 0.03);
                /*border: none;*/
                &:before {
                    color: #444444;
                }
            }
        }
    }
    .active a {
        color: #444444;
        background-color: rgba(0, 0, 0, 0.03);
        border: none;
    }
    .sliding-menu-nav:before {
        float: right;
        margin-left: 1em;
        margin-right: 15px;
        font-family: icomoon!important;
        content: '\e908';
        color: #fff;
        font-weight: 300;
        font-size: 1.375em;
        position: relative;
        bottom: 4px;
    }
    .sliding-menu-back {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 13px;
        &:before {
            float: left;
            margin-right: 1em;
            font-family: icomoon!important;
            content: '\e908';
            color: #fff;
            font-weight: 300;
            font-size: 1.375em;;
            margin-left: 0px;
            position: relative;
            bottom: 1px;
            transform: rotate(180deg);
        }
    }
}

#menu ul li ul li a {
    font-size: 1px !important;
    color: #000 !important;
}

#mobile__brand {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    img {
        width: 220px;
    }
}

.third-level {
    background: #fff !important;
}


#top__mobile {
    margin-left: auto;

    @media (min-width: 1200px) {
        display: none;
    }

    .menu-btn {
        display: block;
        width: 100%;
        height: 24px;
        margin-top: 10px;

        span {
            height: 4px;
            border-radius: 6px;
            background-color: #ECAA2C;
            width: 35px;
            display: block;
            margin-top: 4px;
            margin-bottom: 4px;
            transition: .25s ease-in-out;
        }

        &:hover {
            span {
                background-color: $green;
            }
        }
    }
}


/*====================================
=            Menu Ovelray            =
====================================*/

.menu-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active-overlay {
    opacity: 1;
    visibility: visible;
}

.main-menu-sidebar {
    width: 400px;
    position: fixed;
    height: 100%;
    top: 0px;
    right: -400px;
    z-index: 9999;
    transition: .45s ease-in-out;
    background: #000;
    overflow-y: scroll;
    /* close menu */
    /* main menu */
    .close-menu-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        img {
            width: 26px;
        }
    }
    #sidebar-menu-wrapper #menu .nav-links>li>a:hover {
        color: #fff;
    }
}

@media only screen and (max-width: 750px) {
    .main-menu-sidebar {
        width: 300px;
    }
}

.body-scroll {
    overflow-y: hidden !important;
}

.menu-active {
    right: 0;
}

.phone {
    display: flex;
    align-items: center;
    padding: 3px 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    margin-left: 30px;

    @media (max-width: 767px) {
        margin-left: 17px;
    }

    &.phone-cities {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 180px;
        .phone-text {
            @media (max-width: 1199px) {
                display: block !important;
                margin-left: 5px !important;
            }
        }
    }

    &:hover {
        background: $white;
        border: 1px solid $white;
        color: white;
    }

    i {
        font-size: 30px;
        color: #fff;
        margin: 0px;
        margin-right: 5px;
        font-style: normal;
        padding: 0px;

        @media (max-width: 1199px) {
            margin-right: 0;
            font-size: 22px;
        }
    }

    .phone-text {
        @media (max-width: 1199px) {
            display: none;
        }
    }
}


/*=====  End of Mobile Navbar  ======*/