.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        z-index: 1000;
    }
    .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        flex-grow: 1;
        align-items: center;
        .navbar-nav {
            flex-direction: row;
            margin-bottom: auto;
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 1199px) {
                display: none!important;
            }
            @include bp(md) {
                flex-direction: row;
                width: 100%;
            }
            >li {
                >a {
                    font-family: $font-heading;
                    text-transform: uppercase;
                    display: block;
                    position: relative;
                    color: $green;
                    font-size: 17px;
                    padding: 18px 15px;
                    text-transform: none;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                    @include bp(lg) {
                        font-size: 17px;
                    }
                    @include bp(md) {
                        font-size: 15px;
                    }
                    &:hover {
                        color: $green-light
                    }
                    &.active {
                        color: $green-light;
                    }
                    &.dropdown-toggle:after {
                        border: 0;
                    }
                }
                &:hover, &.active {
                    >a {
                        color: $green-light;
                    }
                }
            }
            li {
                height: 100%;
                align-items: center;
                &.dropdown {
                    position: relative;
                }
            }
        }
    }
}


/*==========Sub Menu==========*/

.mainmenu {
    .collapse ul ul {
        background-color: #fff;
        padding: 20px 0;
        z-index: 1000;
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
        a {
            font-family: $font-main;
            font-size: 16px!important;
            color: #a4a4a4;
            padding: 7px 20px!important;
            text-transform: capitalize;
            letter-spacing: 0px;
            display: block;
            position: relative;
            line-height: 1;
            text-align: left;
            float: none;
            margin: 0;
            /* &.active {
                color: $red;
            }*/
            &:hover {
                background-color: #fff;
                color: $green;
                -webkit-transform: translateX(.5em);
                -moz-transform: translateX(.5em);
                -ms-transform: translateX(.5em);
                -o-transform: translateX(.5em);
                transform: translateX(.5em);
            }
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e902";
            font-family: "icomoon";
            font-weight: 400;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        background-color: #fff;
        padding: 8px 0;
        border: 1px solid #fff;
        //overflow: hidden;
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 220px;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: -21px;
                left: 100%;
                min-width: 220px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 200px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

.phone {
    display: flex;
    align-items: center;
    padding: 3px 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    margin-left: 30px;

    @media (max-width: 767px) {
        margin-left: 17px;
    }

    &.phone-cities {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 180px;
        .phone-text {
            @media (max-width: 1199px) {
                display: block !important;
                margin-left: 5px !important;
            }
        }
    }

    &:hover {
        background: $white;
        border: 1px solid $white;
        color: white;
    }

    i {
        font-size: 30px;
        color: #fff;
        margin: 0px;
        margin-right: 5px;
        font-style: normal;
        padding: 0px;

        @media (max-width: 1199px) {
            margin-right: 0;
            font-size: 22px;
        }
    }

    .phone-text {
        @media (max-width: 1199px) {
            display: none;
        }
    }
}


/*=====  End of Mobile Navbar  ======*/


// mobile menu

.menu-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}

.active-overlay {
	opacity: 1;
    visibility: visible;	
}

.main-menu-sidebar {
	background:$black;
	width:310px;
	position:fixed;
	height:100%;
	top:0px;
	right:-310px;
	z-index:99999;
	transition:.45s ease-in-out;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
    overflow-y:scroll;
    /* close menu */
    header {
        position: relative;
    }
    .close-menu-btn {
        position: absolute;
        top:10px;
        right:-15px;
        color:$white;
        font-size: 20px;
        width: 40px;
        height: 40px;
        img {
            @include centre(both);
            width: 22px;
            filter: brightness(0) invert(1);
        }
    }
    // arrow
    small {
        display:block;
        width:50px;
        height:49px;
        position: absolute;
        top:0px;
        right:0px;    
        &:after {
            font-family: $font-main;
            content:'+';
            color:$green;
            font-size: 32px!important;
            @include centre(both);
        }
        &.active {
            &:after {
                content:'-'!important;
                @include centre(both);
                margin-top: -3px;    
            }						
        }          
    }
	/* main menu */
	#sidebar-menu-wrapper {
        padding-top: 50px;
		#menu {
			.nav-links {
                padding-top: 30px;
                .menu-item-has-children {
                    position: relative;
                }
				> li > a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom:1px solid rgba($white,0.3);
                    font-size: 16px;
                    color:$white;
                    position: relative;
                    padding-left: 0px;
                    padding-right: 0px;
                    text-transform: uppercase;
                    display: block;
                    font-family: $font-heading;
					&:hover {
						color:$white;
					}
				}
				li {
					ul {
						padding-top: 10px;
						padding-bottom: 10px;
						li {
							a {
								display: block;
								font-size: 1em;
								color:#5d5d5d;
								padding-top: 5px;
								padding-bottom: 5px;
								padding-left: 20px;
								position: relative;
								color:$white;
								opacity: 0.9;
								line-height: 1.3;
                                letter-spacing: 1px;
                                
								&:hover {
									color:$white;
									padding-left: 20px;
									&:before {
										width: 10px;
										background-color:$white;
									}
								}
								&:before {
									content:'';
									width: 5px;
									height: 5px;
									background:$white;
									opacity: 0.7;
									@include centre(y);
									left:0px;
									border-radius:100%;
									@include animate-fade;
								}
							}
						}
					}
				}
				.has-menu > a {
					position:relative;
				}
			}
		}

	}
}


.body-scroll {
	overflow-y:hidden!important;
}

.menu-active {
	right: 0;
}