#gallery-page {
    padding-top: 80px;
    padding-bottom: 80px;
    @include bp(desktop) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @include bp(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include bp(md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include bp(sm-down) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    p {
        text-align: center;
        @include regular-text;
        font-size: 14px;
        color: #000;
        margin-bottom: 20px;
    }
    .gallery-items {
        .row {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
        [class*="col-"] {
            padding: 0px 7.5px;
            margin-bottom: 15px;
        }
        .gallery-item {
            a {
                display: block;
                overflow: hidden;
                position: relative;
                img {
                    @include animate-fade;
                    display: block;
                    object-fit: cover;
                    height: 520px;
                    @include bp(desktop) {
                        height: 493px;
                    }
                    @include bp(lg) {
                        height: 400px;
                    }
                    @include bp(md) {
                        height: 450px;
                    }
                    @include bp(sm-down) {
                        height: 440px;
                    }
                }
                &:hover {
                    img {
                        -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}